/*genral*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix{
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.parent{
  width: 1180px;
  margin:0 auto;
}
/*end general*/
/*head*/
.head .firstnav{
  background-color:white;
  border-bottom: 1px solid #F2F2F2;
}

.head .firstnav .parent .logo{
  text-align: center;

}
.head .firstnav .parent .links{
  text-align: center;
}
.head .firstnav .parent h2{
  padding-top: 10px;
  padding-bottom: 10px;
  color: #0653b6;
}
.head .firstnav .parent .links li{
  display: inline-block;
  margin-left:30px;
}
.head .firstnav .parent .links li a{
  text-decoration: none;
  color:black;
  font-weight: 100px;
}
.head .firstnav .parent .links li a:hover{
border-bottom: 5px solid black;
color:#0653b6;
}
.head .firstnav .parent .links .curr{
  border-bottom: 5px solid #0653b6;

}
.head .firstnav .parent .links .R{
  font-size: 15px;
  font-style: italic ;
  font-weight: bold;
}
/*end head*/
/*about*/
.about h1{
  margin: 20px;
  border-bottom: 1px solid black;
  color: red;
}
.about h2{
  margin: 20px;
  color: blue;
}
.about p{
  font-size: 20px;
  margin: 20px;

}
.about table{
  width: 100%;
  border: 1px solid #F2F2F2;

}
.about th{
  color: blue;
}
.about th, td{
  border: 1px solid #F2F2F2;
  margin: 5px;
  text-align: center;
  padding: 5px;
}
.about td a{
  text-decoration: none;
  color: grey;
  font-size: 20px;
}
.new{
  margin-bottom: 20px;

}
.about td a:hover{
  color:red;
}
/*end about*/
/*footer*/
.foot{
 margin-top: 5px;
 border-top: 1px solid #F2F2F2;
 text-align: center;
}
.foot .col{
  float: left;
  display: inline-block;
  width: 33%;
}
.foot .col p{
  width: 100%;
  text-align: center;
  color: #0653b6;
  margin:3px;
}
.foot .copyrghits{
  margin:20px;
}

.foot a{
  text-decoration: none;
  color: #0653b6;
}
/*end footer*/
@media only screen and (max-width:1180px) {
  .parent{
     width: 100%;
     margin:auto;
   }

}
@media only screen and (max-width:500px) {
 .foot{
   height: 350px;
 }
 .foot .parent{
   width:30%;
 }
 .foot .col{
   float: none;
   display: block;
   font-size: 10px;
   width: 100%;
 }
 .foot h1{
  width: 100%;
  font-size: 15px;
 }
 .foot .parent .col p{
   width: 100%;
   text-align: center;
 }
}
 @media only screen and (max-width:480px) {
   .foot h1{
    font-size: 10px;
   }

 }
   @media only screen and (max-width:350px) {
    .head .firstnav .parent h2{
      font-size: 15px;
    }
      .head .firstnav .parent .links li{
        font-size: 10px;
        margin:0 auto;
     }
     body{
       font-size:40%;
     }
   }
   @media only screen and (max-width:1180px) {
     .head .headcontent{
       width:100%;
       padding:0 10px;
       }
      .parent{
         width: 100%
       }
       .head .firstnav .parent .links li{
         margin-left:4px;
       }
   }
      @media only screen and (min-width:,max-width:700px) {
       .about img{
         height: auto;
       }
      }
}
